body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.filter-sort-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.filter-input,
.sort-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 40px;
}

.bot-collection,
.my-bot-army {
  flex: 1;
  max-width: 50%;
}

.bot-collection h2,
.my-bot-army h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #222;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.bot-collection h2 {
  background-color: green;
}

.my-bot-army h2 {
  background-color: red;
}

.bot-collection-grid,
.my-bot-army-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.bot-card {
  background-color: rgb(236, 229, 229);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.bot-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.bot-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bot-card h3 {
  margin: 10px 0;
}

.bot-stats {
  margin-top: 10px;
}

.stat {
  margin-bottom: 10px;
}

.stat label {
  font-weight: bold;
}

.stat-bar {
  height: 10px;
  border-radius: 5px;
}

.stat-bar.red {
  background-color: red;
}

.stat-bar.orange {
  background-color: orange;
}

.stat-bar.blue {
  background-color: blue;
}

.stat-bar.green {
  background-color: green;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

.action-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bot-collection .action-button {
  background-color: green;
}

.bot-collection .action-button:hover {
  background-color: rgb(10, 85, 10);
}

.my-bot-army .action-button {
  background-color: red;
}

.my-bot-army .action-button:hover {
  background-color: darkred;
}
