.bot-card {
  background: #a09999;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.bot-card:hover {
  transform: translateY(-10px);
}

.bot-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bot-stats {
  margin: 10px 0;
}

.stat {
  margin: 5px 0;
}

.stat-label {
  display: block;
  font-weight: bold;
}

.stat-bar {
  height: 10px;
  border-radius: 5px;
}

.card-actions {
  margin-top: 10px;
}

button {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
#add {
  background-color: green;
}
#add:hover  {
  background-color: green;
}

button:hover {
  background-color: black;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-from-army-button {
  background-color: #cc0001; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

#release:hover {
  background-color: #cc0000;
}


span {
  font-weight: bolder;
}
