.bot-card {
  background: #a09999;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bot-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.bot-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.bot-stats {
  margin: 10px 0;
}

.stat {
  margin: 5px 0;
}

.stat-label {
  display: block;
  font-weight: bold;
}

.stat-bar {
  height: 10px;
  border-radius: 5px;
  background-color: #ddd;
}

.stat-bar.red {
  background-color: red;
}

.stat-bar.orange {
  background-color: orange;
}

.stat-bar.blue {
  background-color: blue;
}

.stat-bar.green {
  background-color: green;
}

.card-actions {
  margin-top: 10px;
}

.action-button,
button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.action-button:hover,
button:hover {
  background-color: #0056b3;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

.bot-card span {
  font-weight: bolder;
}
